mixin archived-recruit-mixin(recruit)
  div(id="container-" + recruit._id).recruit-container
    h3=recruit.name
    p
      em Class of #{recruit.classYear}
      span  | 
      em Power Index #{recruit.powerIndex}
    p
      a(href="/recruits/#{recruit._id}") Profile
      span  | 
      a(href="http://www.collegeswimming.com/swimmer/"+recruit.collegeSwimmingId)
        |  CollegeSwimming
    table.table-striped
      tr
        th Event
        th Time
        th Points
      for time in recruit.times
        tr(id="time-"+time._id)
          td=time.eventName
          td=time.timeString
          td=time.points || "-"
    div.recruit-error.error
    button.btn.btn-danger.delete-btn Delete
    button.btn.btn-default.unarchive-btn Unarchive
    div.are-you-sure
      p="Are you sure you want to delete "+recruit.name+"?"
      button.btn.btn-danger.delete-confirm-btn.margin-right.margin-bottom Yes
      button.btn.btn-default.delete-deny-btn.margin-bottom No!

