extends layout
block scripts 
    script(src='/js/archivedRecruits.js')
block content
  mixin sidebar-mixin()
  div.container
    h1.title Archived Recruits
    div.error
      if error
        p= error
    div.centered
      form
        select.form-control#select-year
          option(value = "") All years
          for year in classYears
            if defaultYear == year
             option(value = year selected)= year
            else
              option(value = year)= year
      div#are-you-sure-delete.modal.fade.vertical-centered
          div.modal-content
            div.modal-body
              div#delete-recruit-error
              p#delete-recruit-message
              button.btn.btn-danger#delete-confirm-btn.margin-right.margin-bottom Yes
              button(data-dismiss="modal").btn.btn-default#delete-deny-btn.margin-bottom No!
    div#recruits
      input(type="hidden" value=csrf)#csrf
      div.row
        div.col-md-1
        div.col-md-10
          div#archived-error
          h2 Male
          table.male-recruits
            tr
              th Name
              th Class Year
              th Power Index
              th.mobile-hidden Delete
              th.mobile-hidden Unarchive
            for m in maleRecruits
              tr(recruitId=m._id).recruit-row
                td.name= m.name
                td= m.classYear
                td= m.powerIndex
                td.center-align.mobile-hidden
                  button(data-toggle="modal" data-target="#are-you-sure-delete").sm-circular-btn.circular-delete-btn.delete-recruit-btn
                    span.glyphicon.glyphicon-remove
                td.center-align.mobile-hidden
                  button.sm-circular-btn.unarchive-recruit-btn.default-btn
                    span.glyphicon.glyphicon-inbox
          h2 Female
          table.female-recruits
            tr
              th Name
              th Class Year
              th Power Index
              th.mobile-hidden Delete
              th.mobile-hidden Unarchive
            for f in femaleRecruits
              tr(recruitId=f._id).recruit-row
                td.name= f.name
                td= f.classYear
                td= f.powerIndex
                td.center-align.mobile-hidden
                  button.sm-circular-btn.delete-recruit-btn
                    span.glyphicon.glyphicon-remove
                td.center-align.mobile-hidden
                  button.sm-circular-btn.unarchive-recruit-btn
                    span.glyphicon.glyphicon-inbox
        div.col-md-1
    include sidebar-mixin