extends layout
block scripts
    script(src='/js/configs.js') 
block content
  mixin navbar-mixin()
  div.container.max-width-500
    h1 Configuration Page
    div.error
    div.nationals-results
        h3 Nationals Results
        div.form-group
            label Enter the Collegeswimming link for the reference meet (http://www.collegeswimming.com/results/{number})
            input(type="text", name="meetUrl").form-control#meet-url
        button.btn.update-btn#submit-meet-link Submit
    hr
    div.national-cuts
        h3 Time Standards
        p
            span Find a document like 
            span
                a(href="/assets/QualifyingStandardsWomen2016.pdf") this
            span  from the NCAA and copy and paste the contents of the table in the textbox as follows:
        pre.
            50 FREE :22.84 :23.88 :23.60
            100 FREE :49.65 :52.14 :51.54

            ...

            200 M.R. 1:45.96 1:45.16
            400 M.R. 3:51.95 3:50.40
        div.form-group
            label Pasted Times
            textarea(name="timeStandards").form-control#time-standards
        div.form-group
            select.form-control#select-gender
                option(value="M") Male
                option(value="F") Female
        button.btn.update-btn#submit-time-standards Submit
    hr
    div.team-results
        h3 Team Times
        div.form-group
            label Collegeswimming Team ID
            input(type="number", name="teamId", min=1, max=9999).form-control#team-id
        div.form-group
            label Season
            select.form-control#select-season
                - currentYear = new Date().getFullYear()
                option(value=currentYear - 2) #{currentYear-2}-#{currentYear-1}
                option(value=currentYear - 1 selected) #{currentYear-1}-#{currentYear}
                option(value=currentYear) #{currentYear}-#{currentYear+1}
        button.btn.update-btn#submit-team-info Submit
    include navbar-mixin
