mixin recruit-mixin(recruit)
  div(id="container-" + recruit._id).recruit-container
    h3=recruit.name
    h5="Power Points: " + recruit.powerIndex
    a(href="http://www.collegeswimming.com/swimmer/"+recruit.collegeSwimmingId)
      span.glyphicon.glyphicon-link
      |  CollegeSwimming Profile
    table.table-striped
      tr
        th Event
        th Time
        th Power Points
      for time in recruit.times
        tr
          td=time.eventName
          td=time.timeString
          td=time.points
    button.btn.btn-danger.delete-btn Delete Recruit
    div.are-you-sure
      p="Are you sure you want to delete "+recruit.name+"?"
      button.btn.btn-danger.delete-confirm-btn.margin-right.margin-bottom Yes
      button.btn.btn-default.delete-deny-btn.margin-bottom No!
