extends layout
block scripts
  link(rel='stylesheet', href='/stylesheets/bootstrap-glyphicons.css')
  script(src='/js/recruits.js')
block content
  mixin sidebar-mixin()
  div.container
    input(type="hidden" value=csrf)#csrf
    h1.title Recruits
    div#add-recruit.modal.fade.vertical-centered
      div.modal-content
        div.modal-body.center-align
          div.right-align
            button(data-dismiss="modal").sm-circular-btn.dismiss-modal-btn.default-btn
              span.glyphicon.glyphicon-remove
          div#new-recruit-error.error
          form(name="login", id="add-recruit-form")
            div.form-group
              label CollegeSwimming ID Number
              input(type="text", name="csId", id="new-csId").form-control
            div.form-group
              div.radio
                label.margin-right Gender
                label.margin-right
                  input(type="radio" name="gender" value="M")
                  | Male
                label
                  input(type="radio" name="gender" value="F")
                  | Female
            button.btn.update-btn#create-recruit-btn Submit
    div#recruits
      div.row
        div.col-md-1
        div.col-md-10
          div#actions.right-align
            div.inline.action
              a(href="#")
                button(data-toggle="modal" data-target="#add-recruit").btn.action-btn.circular-btn
                  span.glyphicon.glyphicon-plus
                div.action-label
                  span Add New Recruit
            div.inline.action
              a(href="/recruits/csv")
                button.btn.action-btn.circular-btn
                  span.glyphicon.glyphicon-download
                div.action-label
                  span Download As CSV
          div.centered
            form
              label Class Year
              select.form-control#select-year
                option(value = "all") All years
                for year in classYears
                  if defaultYear == year
                   option(value = year selected)= year
                  else
                    option(value = year)= year
            div#are-you-sure-delete.modal.fade.vertical-centered
              div.modal-content
                div.modal-body
                  div#delete-recruit-error
                  p#delete-recruit-message
                  button.btn.btn-danger#delete-confirm-btn.margin-right.margin-bottom Yes
                  button(data-dismiss="modal").btn.btn-default#delete-deny-btn.margin-bottom No!
          div#recruit-error
          h2 Male
          table.male-recruits
            thead
              tr
                th Name
                th Class Year
                th Power Index
                th.mobile-hidden Delete
            tbody
              for m in maleRecruits
                tr(recruitId=m._id).recruit-row
                  td.name= m.name
                  td= m.classYear
                  td= m.powerIndex
                  td.center-align.mobile-hidden
                    button(data-toggle="modal" data-target="#are-you-sure-delete").sm-circular-btn.circular-delete-btn.delete-recruit-btn
                      span.glyphicon.glyphicon-remove
          h2 Female
          table.female-recruits
            thead
              tr
                th Name
                th Class Year
                th Power Index
                th.mobile-hidden Delete
            tbody
              for f in femaleRecruits
                tr(recruitId=f._id).recruit-row
                  td.name= f.name
                  td= f.classYear
                  td= f.powerIndex
                  td.center-align.mobile-hidden
                    button.sm-circular-btn.delete-recruit-btn
                      span.glyphicon.glyphicon-remove
        div.col-md-1
    include sidebar-mixin
