extends layout
block scripts
  script(src='/js/recruits.js')
block content
  mixin sidebar-mixin()
  mixin top-navbar-mixin()
  div.container
    input(type="hidden" value=csrf)#csrf
    h1.title Recruits
    div#select-recruit-modal.modal.fade
      div.modal-content
        div.modal-body.center-align
          div#select-recruit-error.error
          div.right-align
            button(data-dismiss="modal").sm-circular-btn.dismiss-modal-btn.default-btn
              i.fa.fa-times
          div
            | There were multiple matching recruits. Select the correct one.
          form(name="recruit-select", id="select-recruit-form")
    div#add-recruit-name.modal.fade.vertical-centered
      div.modal-content
        div.modal-body.center-align
          div.right-align
            button(data-dismiss="modal").sm-circular-btn.dismiss-modal-btn.default-btn
              i.fa.fa-times
          div#new-recruit-name-error.error
          form(name="recruit-by-name", id="add-recruit-name-form")
            div.form-group
              label Full Name
              input(type="text", name="recruitName", id="new-name").form-control
            div.form-group
              div.radio
                label.margin-right Gender
                label.margin-right
                  input(type="radio" name="gender" value="M")
                  | Male
                label
                  input(type="radio" name="gender" value="F")
                  | Female
            button.btn.update-btn#create-recruit-name-btn Submit
    div#recruits
      div.row
        div.col-md-1
        div.col-md-10
          div#actions.right-align
            div.inline.action
              a(href="/recruits/tags")
                button.btn.action-btn.circular-btn
                  i.fa.fa-tags
                div.action-label
                  span Tag Recruits
            div.inline.action
              a(href="#")
                button(data-toggle="modal" data-target="#add-recruit-name").btn.action-btn.circular-btn
                  i.fa.fa-plus
                div.action-label
                  span Add New Recruit
            div.inline.action
              a(href="/recruits/csv")
                button.btn.action-btn.circular-btn
                  i.fa.fa-arrow-circle-o-down
                div.action-label
                  span Download As CSV
          div.centered
            form
              label Class Year
              select.form-control#select-year
                option(value = "all") All years
                for year in classYears
                  if defaultYear == year
                   option(value = year selected)= year
                  else
                    option(value = year)= year
            form.margin-top
              label Tags
              div.tags
                div#select-union
                  - if (union == 1)
                    label.radio-inline
                      input(type="radio" value="0" name="union")
                      span Intersection
                    label.radio-inline
                      input(type="radio" value="1" name="union" checked)
                      span Union
                  - else
                    label.radio-inline
                      input(type="radio" value="0" name="union" checked)
                      span Intersection
                    label.radio-inline
                      input(type="radio" value="1" name="union")
                      span Union
                div.margin-top
                  for tag in tags
                    input(type="checkbox", value=tag._id, checked=tag.checked).select-tag.inline
                    span(hex-color=tag.color).tag-label.inline= tag.name
            if isAdmin
              div#are-you-sure-delete.modal.fade.vertical-centered
                div.modal-content
                  div.modal-body
                    div#delete-recruit-error
                    p#delete-recruit-message
                    button.btn.btn-danger#delete-confirm-btn.margin-right.margin-bottom Yes
                    button(data-dismiss="modal").btn.btn-default#delete-deny-btn.margin-bottom No!
          div#recruit-error
          h2 Male
          table.male-recruits
            thead
              tr
                th Name
                th.mobile-hidden Class Year
                th Power Index
                th Stars
                th Tags
                if isAdmin
                  th.mobile-hidden Delete
            tbody
              for m in maleRecruits
                tr(recruitId=m._id).recruit-row
                  td.name= m.name
                  td.mobile-hidden= m.classYear
                  td= m.powerIndex
                  td
                    - var rating = m.rating ? m.rating : 0;
                    span(current-value=rating).star-rating
                      - var remaining = 5 - rating;
                      - for (var i = 0; i < rating; i++)
                        i(star-value=i+1).fa.fa-star.rating-star.rating-star-active
                      - for (var i = 0; i < remaining; i++)
                        - var starValue = i + rating +1;
                        i(star-value=starValue).fa.fa-star.rating-star
                  td
                    for tag in m.tags
                      span(hex-color=tag.color).tag-label.inline= tag.name
                  if isAdmin
                    td.center-align.mobile-hidden
                      button(data-toggle="modal" data-target="#are-you-sure-delete").sm-circular-btn.circular-delete-btn.delete-recruit-btn
                        i.fa.fa-times
          h2 Female
          table.female-recruits
            thead
              tr
                th Name
                th.mobile-hidden Class Year
                th Power Index
                th Stars
                th Tags
                if isAdmin
                  th.mobile-hidden Delete
            tbody
              for f in femaleRecruits
                tr(recruitId=f._id).recruit-row
                  td.name= f.name
                  td.mobile-hidden= f.classYear
                  td= f.powerIndex
                  td
                    - var rating = f.rating ? f.rating : 0;
                    span(current-value=rating).star-rating
                      - var remaining = 5 - rating;
                      - for (var i = 0; i < rating; i++)
                        i(star-value=i+1).fa.fa-star.rating-star.rating-star-active
                      - for (var i = 0; i < remaining; i++)
                        - var starValue = i + rating +1;
                        i(star-value=starValue).fa.fa-star.rating-star
                  td
                    for tag in f.tags
                      span(hex-color=tag.color).tag-label.inline= tag.name
                  if isAdmin
                    td.center-align.mobile-hidden
                      button(data-toggle="modal" data-target="#are-you-sure-delete").sm-circular-btn.circular-delete-btn.delete-recruit-btn
                        i.fa.fa-times
        div.col-md-1
    include sidebar-mixin
    include top-navbar-mixin
