extends layout
block scripts
  script(src='/js/singleRecruit.js')
block content
  mixin sidebar-mixin()
  div.container.max-width-800
    input(type="hidden" value=csrf)#csrf
    div.recruit-info
      if recruit.archived
        span.label.label-default.archived-label Archived
      div.inline.col-md-9
        h2.recruit-title= recruit.name
        div.updateable-information
          div
            p
              span.glyphicon.glyphicon-envelope.margin-right
              span= recruit.email || "None"
          if recruit.height
            div
              p
                span.glyphicon.glyphicon-user.margin-right 
                span= recruit.getHeightAsString()
          div.comments
            strong Comments
            p= recruit.comments || "None"
          button.btn.update-btn.btn-sm#update-form-btn Update Info
      div.inline.stats.mobile-hidden.col-md-3
        div.stat
          span.small-label Class of
          h3.stat-value #{recruit.classYear}
        div.stat
          span.small-label Power Index
          h3.stat-value #{recruit.powerIndex}  
      div.update-form-container
        div.error
        div.form-group
          label Email
          input(type="email", name="email", value=recruit.email).form-control#recruit-email
        div.form-group
          label Comments
          textarea(name="comments").form-control#recruit-comments= recruit.comments
        div.form-group
          label Height (inches)
          input(type="number", name="height", min=48, max=96, value=recruit.height).form-control#recruit-height
        button.btn.update-btn.btn-sm#submit-recruit-update.margin-right-5 Update
        button.btn.btn-default.btn-sm#cancel-update Cancel
      div.times
        div.action
          a(href="#")
            button.btn.action-btn.circular-btn#edit-times-btn
              span.glyphicon.glyphicon-pencil
            div.action-label
              span Edit Times
        div.action
          a(href="#")
            button.btn.action-btn.circular-btn.default-btn#cancel-edit-times
              span.glyphicon.glyphicon-remove
            div.action-label
              span Cancel
        div#display-times
          h3 Times
          if recruit.height
            div.btn-group.margin-bottom
              button(class = "#{ showBodylengths ? 'btn btn-default btn-sm' : 'btn btn-default btn-sm active' }")#toggle-seconds Seconds
              button(class = "#{ showBodylengths ? 'btn btn-default btn-sm active': 'btn btn-default btn-sm' }")#toggle-body-lengths Body Lengths
          div.times-table-wrapper
            table.single-recruit-times
              thead
                tr
                  th Event
                  th Time
                  th Points
                  th.mobile-hidden Team
                  th.mobile-hidden Natl
                  th.mobile-hidden Standard
              tbody
                for time in recruit.times
                  tr
                    td=time.eventName
                    td=time.timeString
                    td=time.points || "-"
                    if time.teamRank
                      if time.behind || time.inFrontOf
                        td.mobile-hidden
                          - seconds = "<b>" + time.eventName + "</b><br>"
                          - bodyLengths = "<b>" + time.eventName + "</b><br>"
                          if time.inFrontOf
                            if recruit.height
                              - bodyLengths = bodyLengths + time.getInFrontOfBodyLengthsMessage(recruit.height)
                            - seconds = seconds + time.getInFrontOfMessage()
                          if time.behind
                            if recruit.height
                              - bodyLengths = bodyLengths + "<br>" + time.getBehindBodyLengthsMessage(recruit.height)
                            - seconds = seconds + "<br>" + time.getBehindMessage()
                          span(data-toggle="hover", data-content=seconds).seconds.team-rank=time.teamRank
                          if recruit.height
                            span(data-toggle="hover", data-content=bodyLengths).bodylengths.team-rank=time.teamRank
                      else
                        td.mobile-hidden= time.teamRank
                    else
                      td.mobile-hidden -
                    td.mobile-hidden=time.nationalRank || "-"
                    td.mobile-hidden= time.standard || "-"
        div#times-editor
          div#edit-times-error.error
          table#edit-single-recruit-times
            tr
              th Event
              th Time
              th Save
              th.mobile-hidden Delete
            for time in recruit.times
              tr(timeid=time._id)
                td=time.eventName
                td.time-edit
                  input(type="text", value=time.timeString, maxlength=8).form-control.time-input
                td.center-align
                  button.sm-circular-btn.circular-delete-btn.save-time-btn.circular-update-btn
                    span.glyphicon.glyphicon-ok
                td.center-align.mobile-hidden
                  button.sm-circular-btn.circular-delete-btn.delete-time-btn
                    span.glyphicon.glyphicon-remove
          div#add-manual-time.margin-top
            div#add-manual-time-error.error
            div.form-group.inline.margin-right-5
              label Event
              div#new-time-event
                select.form-control#new-event-select
                  option(value="50 Y Free") 50 Y Free
                  option(value="100 Y Free") 100 Y Free
                  option(value="200 Y Free") 200 Y Free
                  option(value="500 Y Free") 500 Y Free
                  option(value="1000 Y Free") 1000 Y Free
                  option(value="1650 Y Free") 1650 Y Free
                  option(value="100 Y Back") 100 Y Back
                  option(value="200 Y Back") 200 Y Back
                  option(value="100 Y Breast") 100 Y Breast
                  option(value="200 Y Breast") 200 Y Breast
                  option(value="100 Y Fly") 100 Y Fly
                  option(value="200 Y Fly") 200 Y Fly
                  option(value="200 Y IM") 200 Y IM
                  option(value="400 Y IM") 400 Y IM
            span.inline.margin-right-5
              label Time
              input(type="text", name="time", maxlength=8)#new-time-input.form-control
            div.inline
              button(type="submit" recruitid=recruit._id)#new-time-btn.btn.sm-circular-btn.circular-update-btn
                span.glyphicon.glyphicon-plus

    include sidebar-mixin
