extends layout
block scripts
    script(src='/js/singleRecruit.js')
    script(src='/js/bootstrap.min.js')
block content
  mixin navbar-mixin()
  div.container.max-width-600
    div.recruit-info
      if recruit.archived
        span.label.label-default.archived-label Archived
      h2= recruit.name
      p
          em Class of #{recruit.classYear}
          span  | 
          em Power Index #{recruit.powerIndex}
      div.updateable-information
          p
              strong Email 
              em= recruit.email || "None"
          if recruit.height
            strong Height
            p= inchesToHeightString(recruit.height)
          strong Comments
          p= recruit.comments || "None"
          if isAdmin
              button.btn.update-btn.btn-sm#update-form-btn Update Info
      if isAdmin
          div.update-form-container
              div.error
              div.form-group
                  label Email
                  input(type="email", name="email", value=recruit.email).form-control#recruit-email
              div.form-group
                  label Comments
                  textarea(name="comments").form-control#recruit-comments= recruit.comments
              div.form-group
                  label Height (inches)
                  input(type="number", name="height", min=48, max=96).form-control#recruit-height
              button.btn.update-btn.btn-sm#submit-recruit-update.margin-right-5 Update
              button.btn.btn-default.btn-sm#cancel-update Cancel
      hr.hr-margin
      div.times
          h3 Times
          if recruit.height
            div.btn-group.margin-bottom
              button(class = "#{ showBodylengths ? 'btn btn-default btn-sm' : 'btn btn-default btn-sm active' }")#toggle-seconds Seconds
              button(class = "#{ showBodylengths ? 'btn btn-default btn-sm active': 'btn btn-default btn-sm' }")#toggle-body-lengths Body Lengths
          div.times-table-wrapper
              table.table-striped.single-recruit-times
                tr
                  th Event
                  th Time
                  th Points
                  th.mobile-hidden Natl
                  th.mobile-hidden Team
                  th.mobile-hidden Standard
                for time in recruit.times
                  tr
                    td=time.eventName
                    td=time.timeString
                    td=time.points || "-"
                    td.mobile-hidden=time.nationalRank || "-"
                    if time.teamRank
                      if time.behind || time.inFrontOf
                        td.mobile-hidden
                          - content = "<b>" + time.eventName + "</b><br>"
                          if time.inFrontOf
                            if showBodylengths && recruit.height
                              - content = content + differenceInBodylengths(time, recruit.height, true) + " body lengths ahead of " + time.inFrontOf.swimmer
                            else
                              - content = content + (time.inFrontOf.time - time.time).toFixed(2) + "s faster than " + time.inFrontOf.swimmer
                          if time.behind
                            if showBodylengths && recruit.height
                               - content = content + "<br>" + differenceInBodylengths(time, recruit.height, false) + " body lengths behind " + time.behind.swimmer
                            else
                              - content = content + "<br>" + (time.time - time.behind.time).toFixed(2) + "s slower than " + time.behind.swimmer
                          span(data-toggle="hover", data-content=content, style="cursor: pointer")=time.teamRank
                      else
                        td.mobile-hidden= time.teamRank
                    else
                      td.mobile-hidden -
                    td.mobile-hidden= time.standard || "-"
    include navbar-mixin
